* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(FONTS/OTRtypeGX.ttf);
    font-family: plick;
}

@font-face {
    src: url(FONTS/FuturaPTBold.otf);
    font-family: dlick;
}

@font-face {
    src: url(FONTS/Draco.otf);
    font-family: slick;
}

.main {
    background: #00ff0d;
    height: 43vh;
}

.icon img {
    width: 45vw;
    height: 12vh;
    float: left;
    padding-top: 3vh;
    padding-left: 2vw;
}

.shape1 {
    background-color: white;
    width: 40vw;
    height: 10vh;
    float: right;
    margin-top: 2vh;
    margin-right: 5vw;
    transform: skew(35deg);
}

ul {
    font-family: plick;
    float: right;
    list-style-type: none;
    margin-top: 7vh;
    margin-right: 0vw;
}

ul li {
    display: inline-block;
    font-size: 3vh;
}

ul li a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: black;

}

.quote {
    margin-top: 5vh;
    font-family: dlick;
    color: rgb(0, 0, 255);
    font-size: smaller;
    opacity: 85%;
    display: block;
}

h2 {
    padding: 1vh;
    margin-left: 1vw;
    /* color: #ffffff; */
}



.productu {
    font-family: slick;
    color: #000;

}

.carousel-cell {
    width: 100%;
    /* full width */
    height: 200px;
    background: rgb(255, 255, 255);
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
    height: 100%;
}

.carousel-cell img {
    display: block;
    max-height: 100%;
}